.todo__page{
    min-height: 85vh;
    font-family: 'Source Sans Pro', sans-serif;
}
.page__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}
.todos {
    margin-top: 3rem;
    width: 50rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.task__form {
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
    width: 45rem;
    align-items: start;
    justify-content: center;
    background-color: var(--primary);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 2rem 1rem 1rem 1rem;
}

.edit__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.button,
.button_cancel {
    width: 10rem;
    padding: 0.5rem;
    outline: none;
    border: 0.2rem solid var(--primary-light);
    color: var(--primary-light);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
.button {
    background-color: var(--primary-button);
}
.button_cancel {
    background-color: var(--primary);
}
button:hover {
    transition: all 0.4s;
    transform: translateY(0.1rem);
    opacity: 0.8;
}
.button:disabled {
    opacity: 0.5;
    cursor: default;
    transform: translateY(0.1rem);
}
.empty__message{
    font-size: 2.4rem;
    margin-top: 3rem;
}