.task {
    width: 45rem;
    border: 2px solid var(--primary);
}
.task.inactive {
    opacity: 0.5;
}
.task__name {
    font-size: 2.0rem;
    padding: 0.5rem;
    background-color: var(--primary);
    color: var(--primary-light);
}
.task__body {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}
.task__controllers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.task.inactive .task__description,
.task.inactive .task__name {
    text-decoration: line-through;
}
.task__description {
    font-size: 1.8rem;
}
.task__icon {
    cursor: pointer;
    font-size: 2rem;
}