.task {
    width: 45rem;
    border: 2px solid var(--primary);
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}
.task.inactive {
    opacity: 0.5;
}

.task__controllers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.task.inactive .task__description,
.task.inactive .task__name {
    text-decoration: line-through;
}
.task__description {
    font-size: 1.8rem;
}
.task__icon {
    cursor: pointer;
    font-size: 2rem;
}