.field {
    display: flex;
    flex-direction: column;
}
.input {
    width: 32rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 0 1rem;
}
@media (max-width: 400px) {
    .input{
        width: 100%;
    }
}
.error {
    padding: 0.3rem 0rem;
    height: 1.5rem;
    color: red;
    font-weight: 700;
    font-size: 1.6rem;
}