.main{
    min-height: 85vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/checklist.jpg);
    background-position: bottom left;
    background-size: 50rem 35rem;
}
@media (max-width: 500px) {
    .main {
        background-position: bottom center;
        background-size: 35rem 25rem;
    }
}
.main__contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 3.2rem;
}
.subtitle {
    text-align: center;
    font-size: 2.4rem;
}
.task__container {
    margin-top: 4rem;
    width: 42rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--primary);
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
@media (max-width: 500px) {
    .task__container {
        width: 95%;
    }
}
.task__description {
    color: var(--primary-light);
    text-align: center;
    padding: 0 0.5rem;
    font-size: 2.0rem;
    font-weight: 700;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.button {
    width: 12rem;
    padding: 1rem;
    background-color: var(--primary-button);
    outline: none;
    border: 0.2rem solid var(--primary-light);
    color: var(--primary-light);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
.button:hover {
    transition: all 0.4s;
    transform: translateY(0.1rem);
    opacity: 0.8;
}
.button:disabled {
    opacity: 0.5;
    cursor: default;
    transform: translateY(0.1rem);
}
