.error__page {
    min-height: 85vh;
}
.error{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error__title {
    color: var(--primary-dark);
    font-size: 2.8rem;
    text-align: center;
}
.error__image {
    width: 50rem;
    height: auto;
}
@media (max-width: 600px) {
    .error__image{
        width: 90%;
    }
}
.error__button {
    background-color: var(--primary);
    font-size: 2.0rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
}
.button__link {
    color: var(--primary-light);
}